<footer class="site-footer">

  <div class="wrapper">
    <fieldset class="fieldset">
        <legend class="legend">🐾 {{ site.title }}</legend>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-left">
        {{ site.description }} <br>
        <a href="http://bit.ly/PythonTutor" target="_blank">
             🖥 Python Tutoring in San Diego, CA
        </a><br>
        <a href="http://bit.ly/UCSDPython" target="_blank">
            🐍 My Python class at UCSD Extension
        </a>
      </div>

      <div class="footer-col footer-col-right">
        <ul class="social-media-list">
            <li>
                <a href="http://unicode.party" target="_blank">🎉🎈 Unicode emoji search engine 🎈🎉</a>
            </li>
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
          <!-- <li>
              🐾
          </li> -->
        </ul>
      </div>
    </div>
    Want to comment on a post? DM me on Twitter!
    </fieldset>
  </div>

</footer>
